<nav class="border-[10px] border-black p-8 grid place-items-center sticky top-0 bg-white">
	<ul>
		<li><a href="/#top">Top 1</a></li>
		<li><a href="#placeholder-1">Placeholder 1</a></li>
		<li><a href="#placeholder-2">Placeholder 2</a></li>
		<li><a href="#placeholder-3">Placeholder 3</a></li>
		<li><a href="#placeholder-4">Placeholder 4</a></li>
	</ul>
</nav>
