<section class="border-[10px] border-black min-h-screen grid place-items-center {{ bgColor }}" id="{{ id }}">
	<h2 class="text-6xl font-bold uppercase text-light tracking-tighter">
		{{ headline}}
	</h2>
</section>
